@import "tailwindcss";

body {
  font-family: "Merriweather", serif;
  font-weight: 300;
}

@layer components {
  .btn-home {
    @apply relative mx-auto px-4 py-3 rounded-lg 
           font-semibold text-white text-lg
           transition duration-200
           shadow-sm hover:shadow-md
           hover:-translate-y-0.5 active:translate-y-0
           text-center;
    width: 270px;
  }

  @media (max-width: 768px) {
    .btn-home {
      width: 220px;
    }
  }

  @media (max-width: 480px) {
    .btn-home {
      width: 200px;
    }
  }
  
  .btn-icon-left {
    @apply w-7 h-7 absolute left-8 top-1/2 -translate-y-1/2;
  }
}

